@media (max-width: 767.98px) {
  .form-range {
    height: 2rem;
    cursor: pointer;
  }

  .btn-group .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  textarea.form-control {
    font-size: 1rem;
  }

  input[type="time"].form-control {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
  }
}
